<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="UTF-8">
<title>Exp6 - Angular Data Binding</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-controller="StudentCtrl">
<h2>Student Information</h2>
Name: <input ng-model="name" placeholder="Enter name"><br>
Branch: <input ng-model="branch" placeholder="Enter branch"><br>
Marks1: <input type="number" ng-model="m1">
Marks2: <input type="number" ng-model="m2">
Marks3: <input type="number" ng-model="m3">

<hr>
<p>Name: <span ng-bind="name"></span></p>
<p>Branch: {{branch}}</p>
<p>Total: {{ (m1||0)+(m2||0)+(m3||0) }}</p>
<p>Average : {{ ((m1||0)+(m2||0)+(m3||0))/3 | number:2 }}</p>
<p ng-if="((m1||0)+(m2||0)+(m3||0))/3 >=40">Pass</p>
<p ng-if="((m1||0)+(m2||0)+(m3||0))/3 <40 && (m1||m2||m3)">Fail</p>

<script>
angular.module("myApp",[]).controller("StudentCtrl",function($scope){
  $scope.name="Amit"; $scope.branch="CSE"; $scope.m1=80; $scope.m2=75; $scope.m3=85;
});
</script>
</body>
</html>
